In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("Virat Kohli DataSet.csv")

In [24]:
dataset.head(2)

,Runs,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date,Start Date Year,Start Date Months
0,12,22,1,0,54.54,2,lbw,1,Sri Lanka,Dambulla,2008-08-18,2008,8
1,37,67,6,0,55.22,2,caught,2,Sri Lanka,Dambulla,2008-08-20,2008,8

In [5]:
# dataset.isnull().sum()

In [18]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Runs               132 non-null    int64
 1   BF                 132 non-null    int64
 2   4s                 132 non-null    int64
 3   6s                 132 non-null    int64
 4   SR                 132 non-null    float64
 5   Pos                132 non-null    int64
 6   Dismissal          132 non-null    object
 7   Inns               132 non-null    int64
 8   Opposition         132 non-null    object
 9   Ground             132 non-null    object
 10  Start Date         132 non-null    datetime64[ns]
 11  Start Date Year    132 non-null    int32
 12  Start Date Months  132 non-null    int32
dtypes: datetime64[ns](1), float64(1), int32(2), int64(6), object(3)
memory usage: 12.5+ KB

# Pos

In [8]:
dataset['Pos'] = dataset['Pos'].astype("int64")

# Start Date

In [11]:
dataset['Start Date'] = pd.to_datetime(dataset['Start Date'])

C:\Users\Admin\AppData\Local\Temp\ipykernel_15960\4093909123.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dataset['Start Date'] = pd.to_datetime(dataset['Start Date'])

In [15]:
dataset['Start Date Year'] = dataset['Start Date'].dt.year

In [17]:
dataset['Start Date Months'] = dataset['Start Date'].dt.month

# Opposition

In [23]:
dataset['Opposition'].unique()

array(['Sri Lanka', 'Australia', 'Bangladesh', 'South Africa', 'Zimbabwe',
       'New Zealand', 'Ireland', 'Netherlands', 'West Indies', 'Pakistan',
       'England'], dtype=object)

In [22]:
dataset['Opposition'] = dataset['Opposition'].str.replace("v ","")

# final dataset

In [26]:
dataset.to_csv("Virat Kohli DataSet Clean.csv",index=False)